button, body {
	font-family:"Myriad Pro", Calibri, Georgia, Verdana;
	font-size:10pt;
	line-height:1.6em
}

h1 { color: #0C3569;}

body {
	background-color:#ddd;
    background-size: 7px 7px;
    background-image:-webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

#map {
	border: solid 1px rgba(0,0,0,0.2);
}

#top_right {
	float:right;
	width:300px;	
	text-align:right;
}

#fb_status { margin-top:-15px; float:left; height:25px }

#fb_status, { position:absolute;top:80px;z-index:100000; left:10px;]}

#countries {
	/* do stuff to make this status appear within the map frame */
	position:absolute;
	top:10px;
	z-index:1000000;
	left:10px;
	opacity:0.8;
	width:720px;
}

#refresh_icon {
	/* do stuff to make this status appear within the map frame */
	position:absolute;
	top:3px;
	z-index:1000000;
	right:3px;
	opacity:1.0;
}

#refresh_icon img { height:20px}
#refresh_icon:hover { border: solid 1px black; background-color:rgba(192,192,192,0.5);}

hr {
    color: rgba(64,64,64,0.2); /* rgb(140,112,112);#EF8A62;*/
    background-color: rgba(255,255,255,0.2); /* rgb(140,112,112);#EF8A62;*/
    shade: noshade;
    border-style:solid none none none;
    /* amazing the extent one has to go to make <hr> look good! */
}

button {
	font-size:16pt; font-weight:bold; background-color:#69AA35; color: white;
	height:40px;z-index:100000;
	padding: 0px 15x 0px 15px
}

.flag {
	height:13px;
	padding-right:5px;
}

button:hover { border: 3px solid #335D14;}

#footer, #footer a {font-size:10pt; color:gray; text-decoration:none}
.footer-item {display:inline;padding-left:5px; float:left;width:140px}
#footer a:hover {text-decoration: underline;}